################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NeuralNetworkApp/.vs
/NeuralNetworkApp/NeuralNetworkApp/obj
/NeuralNetworkApp/NeuralNetworkApp/bin/Debug/app.publish
/NeuralNetworkApp/NeuralNetworkApp/bin/Debug
/.vs
/NeuralNetworkApp/bin/Debug
/NeuralNetworkApp/obj
