################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/NeuralNetworkApp/bin
/NeuralNetworkApp/obj
/Game.Engine.Win2d/bin
/Game.Engine.Win2d/obj
/NeuralNetwork/bin
/NeuralNetwork/obj
/NeuralNetworkDemoApp/bin
/NeuralNetworkDemoApp/obj
/NeuralNetworkDemoApp/BundleArtifacts
/NeuralNetworkDemoApp/BundleArtifacts
